@model IEnumerable<BakeryMarkTest.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">~=== Menu ===~</h1>

<div class="form-container">
    <a asp-action="SearchForMenuItem">Search</a> |
</div>

    <div class="form-container">    
    <a asp-action="Create">Create New</a> 
    </div>





<table class="table">
    <thead>
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCalories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegeterian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>*@
    </thead>
    <tbody>
        @foreach(var product in ViewBag.products)
        {
        <tr>
            <td rowspan="2">
                @*<img src="@item.ImagePath" alt="@item.ImagePath" width="500" height="600">*@
                <img src="~/Images/@product.ImagePath" alt="@product.ImagePath" width="150">
            </td>
            <td>
                <b>@product.Name</b>
                <br>
                $@product.Price
            </td>
            
            <td rowspan="2">
                @product.Description
            </td>
            <td rowspan="2">
                @product.NumberOfCalories Calories
            </td>
            
            
            <td rowspan="2">
                @*<a asp-action="Edit" asp-route-id="@item.MenuItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MenuItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MenuItemId">Delete</a>*@
                <a asp-action="Edit" asp-route-id="@product.MenuItemId">Edit</a>
                <br>
                <a asp-action="Details" asp-route-id="@product.MenuItemId">Details</a>
                <br>
                <a asp-action="Delete" asp-route-id="@product.MenuItemId">Delete</a>
            </td>
            </tr>

            <tr>
            @*<td>
                @product.IsVegan
            </td>*@
            <td align="center">
                <a asp-controller="cart" align="center" asp-action="buy" asp-route-id="@product.MenuItemId">Buy Now</a>
            </td>
            @*<td>
                @product.IsVegeterian
            </td>*@
            
            
            
        </tr>
        
        }

    </tbody>
</table>
